[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm/
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
